/* Modo básico de dropdown usando apenas CSS e :hover */
.dropdown {
  position: relative; /* para conter o sub-menu absolutamente */
}

.dropdown-content {
  display: none;  /* inicialmente escondido */
  position: absolute;
  background-color: #f9f9f9;
  padding: 8px 0;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 999;
}

.dropdown-content li {
  display: block;
  padding: 5px 10px;
}

/* Mostra ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  display: block;
  text-decoration: none;
  color: #333;
  background: #fff;
  padding: 5px;
}
.dropdown-content li a:hover {
  background: #ddd;
}




/* Estilo para o Header */

header {
  background-color: #4a90e2; /* Azul moderno */
  padding: 20px;
  text-align: center;
  color: white;
}


header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}


header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  padding: 0;
}


header nav li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  background: #007bb5; /* Azul mais escuro */
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;

}


header nav li a:hover {
  background: #005f8d; /* Azul ainda mais escuro */
  transform: translateY(-2px);

}
